@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn {
    @apply rounded-lg relative;
  }

  .btn:not(.sm) {
    @apply px-4 h-10;
  }

  .btn:disabled {
    @apply opacity-30 cursor-not-allowed;
  }

  .btn.sm {
    @apply px-3 h-6;
  }

  .btn::after {
    @apply content-[''] left-4 absolute bottom-2;
    height: 1.5px;
    width: 0;
    transition: 0.2s width;
  }

  .btn:not(:disabled):hover::after {
    width: calc(100% - 32px);
  }

  .btn-primary:hover::after {
    @apply bg-white;
  }

  .btn-secondary:hover::after {
    @apply bg-black;
  }

  .btn-primary {
    @apply bg-indigo-500 text-white;
  }

  .btn-secondary {
    @apply bg-gray-100;
  }

  .link-button {
    @apply inline-flex justify-center items-center;
  }
}

@keyframes removeatend {
  0% {
    opacity: 0.4;
  }
  25% {
    opactiy: 1;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.text-animation {
  animation-duration: 0.75s;
  animation-name: removeatend;
}
