@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn {
    @apply rounded-lg;
  }

  .btn:not(.sm) {
    @apply px-4 h-10;
  }

  .btn:disabled {
    @apply opacity-30 cursor-not-allowed;
  }

  .btn.sm {
    @apply px-3 h-6;
  }

  .btn:hover {
    @apply underline;
  }

  .btn-primary {
    @apply bg-indigo-500 text-white;
  }

  .btn-secondary {
    @apply bg-gray-100;
  }

  .link-button {
    @apply inline-flex justify-center items-center;
  }
}

@keyframes removeatend {
  0% {
    opacity: 0.4;
  }
  25% {
    opactiy: 1;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.text-animation {
  animation-duration: 0.75s;
  animation-name: removeatend;
}
